<p>
  admin-login works!
</p>
<div class="row">
  <div class="class-col-6">
    <div>
      <form method="post" #adlogin='ngForm' (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">
            <input type="text" name="username" class="form-control" [(ngModel)]="adminValues.username" required>
          </label>
        </div>
        <div class="form-group">
          <label for="password">
            <input type="password" name="password" class="form-control" [(ngModel)]="adminValues.password" required>
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!adlogin.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
